services:
  web:
    build: .
    environment:
      - PORT=3000
      - REDIS_URL=redis://redis:6379
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: npm run dev
    depends_on:
      redis:
        condition: service_started

  redis:
    image: redis:8.0.0
    container_name: blogs-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server
    volumes:
      - cache:/data

volumes:
  cache:
